:root{
    --main-color: #E65F78;
    --hover-color:#d8576f;
    --background-color:#f8f9a ;
}
section {
    scroll-margin-top: 80px;
    /* Adjust to your navbar’s height */
}
html{
    scroll-behavior: smooth;
    height: 400%;
}
a,span{
    display: inline-block;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
    padding-left: 0;
}

.nav-link{
    color: white;
}
.navbar-nav .nav-link.active{
    color:var(--hover-color);
}
.nav-link:focus, .nav-link:hover{
    color:var(--hover-color);
}

.home-section {
    min-height: calc(100vh - 80px);

}
.container{
    width: 85%;
}

.home-section {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/header-bg.jpg);
    background-position: center;
    background-size: cover;
}
.home-section .home-content .btn{
    background-color: inherit;
    border:solid white 2px;
    color: white;
}
.home-section .home-content .btn:hover {
    color: black;
    background-color: white;
    border-color: var(--bs-btn-hover-border-color);
}
.scroll-down-btn{
    border: solid white 3px;
    padding:40px 0px ;
    top: 80%;
    animation: upDown 1.5s infinite;
}


.about-section .left-content img{
    width: 100%;
}
.about-section h3 span {
    color: var(--main-color);
    font-weight: 700;
}
.about-section .right-content p {
    color: #6c757d;;
}
.socail-icons a {
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

/* On hover: change text and border color */
.socail-icons a:hover {
    color: white;
    background-color: var(--main-color);
    border-color: var(--main-color);
    transform: scale(1.1);
}